body
{
margin:0;
padding:0;
background-color: #f0f3f4 ;
font-family:Helvetica, Arial, sans-serif;
}
.header
{
background-color:rgb(59,89,152);
height:12.2%;
width:100%;
font-family:tahoma;
border: 1px solid darkblue;
}
.right
{
width:45%;
position:absolute;
top:31%;
left:63%;
}
.left
{
width:55%;
position:absolute;
left:0;
}
.image
{
position:relative;
left:200px;
}
.registration_form
{
background-color:white;
border:1px solid rgb(189, 199, 216);
border-radius:5px;
font-family:Helvetica, Arial, sans-serif;
font-size:18px;
font-weight:400;
outline-color:rgb(77, 144, 254);
padding-bottom:8px;
padding-top:8px;
padding-left:10px;
margin:6px;
}

select
{
background-color:rgb(221,221,221);
border:1px solid rgb(189,199,216);
font-family:Helvetica, Arial, sans-serif;
font-size:13px;
font-weight:400;
height:30px;
padding:5px;
width:56px;
margin:0;
}
#birthday_help
{
color:rgb(54,88,153);
font-family:Helvetica, Arial, sans-serif;
font-size:11px;
text-decoration-color:rgb(54,88,153);
width:150px;
display:inline-block;
text-decoration:none;
}
.gender
{
color:rgb(29,33,41);
font-family:Helvetica, Arial, sans-serif;
font-size:18px;
font-weight:400;
padding-left:3px;
padding-right:10px;
margin-top:30px;
}
.terms_and_conditions
{
color:rgb(119,119,119);
display:block;
font-family:Helvetica, Arial, sans-serif;
font-size:11px;
margin-right: 10px;
margin-top:11px;
margin-bottom:11px;
width:316px;
}
#submit
{
font-size:18px;
background-color:rgb(105,167,78);
border:1px solid rgb(59, 110, 34);
color:white;
font-family: Freight sans Bold", Helvetica, Arial, sans-serif;
padding:30px;
width:224px;

font-weight:700;
margin-bottom
margin-top:10px;
text-shadow:rgba(0,0,0,0.5) 0px 1px 2px;
border-radius:5px;
height:53px;
}